@{
    ViewData["Title"] = "Movies to get";
}

@using System.Text
@model MoviesToGetViewModel

@functions
{
    private static string GetSafePosterUri(Uri sourceUri)
    {
        return sourceUri?.OriginalString ?? "/img/no-poster.jpg";
    }

    private static string FormatCollection(IEnumerable<string> source)
    {
        var outputBuilder = new StringBuilder();

        var list = source.ToList();
        for (var i = 0; i < list.Count; ++i)
        {
            outputBuilder.Append($"<span>{list[i]}</span>");

            if (i + 1 < list.Count)
            {
                outputBuilder.Append(", ");
            }
        }

        return outputBuilder.ToString();
    }
}

<h1>Movies to get</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <p>
        <label asp-for="NewMovieToGet.MovieUri">Movie URL:</label>
        <input asp-for="NewMovieToGet.MovieUri" />
        <button type="submit">Add</button>
    </p>
</form>

<ul class="movies-list">
    @foreach (var movie in Model.Movies)
    {
        var movieInfo = movie.MovieInfo;
        <li class="movie-info">
            <img class="movie-info-poster" src="@GetSafePosterUri(movieInfo.PosterUri)" alt="Poster for movie &quot;@movieInfo.Title&quot;" />
            <div class="movie-info-details">
                <div class="movie-info-table-details-and-actions">
                    <div class="movie-info-table-details">
                        <a class="movie-info-title" href="@movieInfo.MovieUri">@movieInfo.Title</a>
                        <table class="movie-info-table">
                            <tbody>
                                <tr>
                                    <td class="movie-info-table-key">Year</td>
                                    <td>@movieInfo.Year</td>
                                </tr>
                                <tr>
                                    <td class="movie-info-table-key">Genres</td>
                                    <td>@Html.Raw(FormatCollection(movieInfo.Genres))</td>
                                </tr>
                                <tr>
                                    <td class="movie-info-table-key">Director</td>
                                    <td>@Html.Raw(FormatCollection(movieInfo.Directors))</td>
                                </tr>
                                <tr>
                                    <td class="movie-info-table-key">Cast</td>
                                    <td>@Html.Raw(FormatCollection(movieInfo.Cast))</td>
                                </tr>
                                <tr>
                                    <td class="movie-info-table-key">Rating</td>
                                    <td>@movieInfo.Rating</td>
                                </tr>
                                <tr>
                                    <td class="movie-info-table-key">Duration</td>
                                    <td>@movieInfo.Duration</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="movie-info-actions">
                        <a asp-controller="MoviesToGet" asp-action="MoveToMoviesToSee" asp-route-id="@movie.Id.Value">To See</a>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(movieInfo.Summary))
                {
                    <div class="movie-info-summary">
                        <a data-toggle="collapse" href="#collapseSummary-@movie.Id.Value">Click for Summary</a>
                        <div id="collapseSummary-@movie.Id.Value" class="collapse">
                            @movieInfo.Summary
                        </div>
                    </div>
                }
            </div>
        </li>
    }
</ul>
