@{
    ViewData["Title"] = "Movies to get";
}
@using System.Globalization
@model MovieLibrary.Logic.Models.MoviesToGetModel

<h1>Movies to get</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <p>
        <label asp-for="NewMovieToGet.MovieUri">Movie URL:</label>
        <input asp-for="NewMovieToGet.MovieUri" />
        <button type="submit">Add</button>
    </p>
</form>

<ul class="movies-list">
    @foreach (var movie in Model.Movies)
    {
        var movieInfo = movie.MovieInfo;
        <li class="movie-info">
            <img class="movie-info-poster" src="@movieInfo.PosterUri" alt="Poster for movie &quot;@movieInfo.Title&quot;" width="240"/>
            <div class="movie-info-details">
                <a class="movie-info-title" href="@movieInfo.MovieUri">@movieInfo.Title</a>
                <table class="movie-info-table">
                    <tbody>
                        <tr>
                            <td class="movie-info-table-key">Year</td>
                            <td>@movieInfo.Year.Value</td>
                        </tr>
                        <tr>
                            <td class="movie-info-table-key">Genres</td>
                            <td>
                                @{
                                    // TBD: Avoid duplicated code
                                    var genresList = movieInfo.Genres.ToList();
                                    for (var i = 0; i < genresList.Count; ++i)
                                    {
                                        <span>@genresList[i]</span>@if (i + 1 < genresList.Count)
                                        {<text>, </text>}
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="movie-info-table-key">Director</td>
                            <td>
                                @{
                                    // TBD: Avoid duplicated code
                                    var directorsList = movieInfo.Directors.ToList();
                                    for (var i = 0; i < directorsList.Count; ++i)
                                    {
                                        <span>@directorsList[i]</span>@if (i + 1 < directorsList.Count)
                                        {<text>, </text>}
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="movie-info-table-key">Cast</td>
                            <td>
                                @{
                                    var castList = movieInfo.Cast.ToList();
                                    for (var i = 0; i < castList.Count; ++i)
                                    {
                                        <span>@castList[i]</span>@if (i + 1 < castList.Count)
                                        {<text>, </text>}
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="movie-info-table-key">Rating</td>
                            <td>@movieInfo.Rating.Value (@($"{movieInfo.Rating.VotesNumber:N0}"))</td>
                        </tr>
                        <tr>
                            <td class="movie-info-table-key">Duration</td>
                            <td>@($"{movieInfo.Duration.Value.ToString("hh\\:mm", CultureInfo.InvariantCulture)}")</td>
                        </tr>
                    </tbody>
                </table>
                <p class="movie-info-summary">
                    @movieInfo.Summary
                </p>
            </div>
        </li>
    }
</ul>
